html {
	margin:0;
	padding:0;
	color:#000;
	height: 100%;
	background-color: rgba(110, 121, 129, 0.45);
	background: url('grey_wash_wall.png');
	min-width: 930px;
}
body{
	margin:0;
}
h2,p{
	font-family: 'Francois One', sans-serif;
}

/*--------------------------*/
/*---Genre Selector Style---*/
/*--------------------------*/
#Qcontrols{
	display:table;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	margin-bottom:0px;
	padding:0px;
	position: relative;
}
#Qcontrols li{
	height:20px;
	margin: 1px;
}
.musbutton{
	width: 55px;
}
#genre, #genrelink, .musbutton{
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 0px;
	border-radius: 5px;
	list-style: none;
	position: relative;
	display: inline-table;
	cursor: pointer;
	font-size:13px;
	border-top: 0px;
    border-bottom: 0px;
}
#genre p, #genrelink p, .musbutton p{
	/*color: #757575; */
	text-decoration: none;
	margin:0px;
	vertical-align: middle;
}
#genre, #dropdown:hover #genrelink{
	background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
	color: #fff;
}
#dropdown ul {
	background: #5f6975; 
	border-radius: 0px; 
	padding: 0;
	position: absolute;
    top: 100%;
    height: 125px;
    overflow: scroll;
    display:none;
}
#genre {
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}
#genre p:hover {
	background: #4b545f;
}

#genrelink:hover + ul, #dropdown ul:hover{
	display:block;
}

#controlimg{
	height: 88%;
	width: 45%;
}
#playimg{
	height: 85%;
	width: 32%;
}

#pauseimg{
	height: 89%;
	width: 31%;
}

/*--------------------------*/
/*----  Add All Button  ----*/
/*--------------------------*/
#addall {
	position: absolute;
	display: inline-block;
	border-top: 20px solid rgb(17, 81, 114);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 77px;
	left: 39%;
	cursor: pointer;
}
#addall p{
	position: absolute;
	top: -21px;
	left: 13px;
	text-align: center;
	margin: 0px;
	color: #EFEFEF;
}

/*--------------------------*/
/*-----  Main Columns  -----*/
/*--------------------------*/

#Col1, #Col2{
	background-color: #FFFFFF;
	border-radius: 5px;
	border: 1px solid #9C9C9C;
	margin-top: 10px;
}

#list1 li, #list2 li{
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	margin-bottom: 1px;
}
#list1 li:first-child, #list2 li:first-child{
	border-top: 1px solid #FFF;
}

#list1, #list2{
	list-style: none;
	height: 450px;
	overflow: scroll;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0px;
}
#list2 p{
	display: inline-block;
	width: 80%;
	margin: 6px;
}
#list2 small{
	
}
.sortable-placeholder{
	border: 1px dashed #CCC;
	background: none;
	height: 56px;
}

.playing p{
	background: url("playing.png") no-repeat;
	background-size: 20px 18px;
	background-position-y: 50%;
	padding-left: 25px;
}
.paused p{
	background: url("paused.png") no-repeat;
	background-size: 20px 18px;
	background-position-y: 50%;
	padding-left: 25px;
}

#list1 li:hover{
	background: #F2F2F2;
}
#xmark{
	height: 15px;
	width: 14px;
	top: 37%;
	left: 81%;
}
li:hover{
	cursor: pointer;
}
#list1 li:hover > p, #list2 li:hover > p{
	margin-left: 5px;
}
#ColContainer, #foot{
	width:100%;
	margin:0 auto;
}
#Col1{
	float: left;
	width:40%;
}
#colsep{
	position: relative;
	left:50%;
	height: 100%;
    width: 1px;
    border-left: 1px solid #C0C0C0;
}
#Col2{
	float: left;
	margin-left: 5%;
	width: 35%;
}

#foot{
	padding-top: 5px;
	clear: both;
}

h2{
	text-transform: uppercase;
}

#maintitle, #qtitle{
	margin:0px;
	color: #EFEFEF;
	position: relative;
}
.colheader{
	text-align: center;
	margin: 0px;
	background-color: rgb(17, 81, 114);
}

/*--------------------------*/
/*-------  Sidebars  -------*/
/*--------------------------*/

.sidebar{
	float: left;	
}
.sidebar ul{
	list-style: none;
	margin-top: 10px;
	border-top: 1px;
}
.sidebar li{
	height: 38px;
	line-height: 38px;
	text-align: center;
	border-bottom: 1px solid #C0C0C0;
	background-color: #FFFFFF;
	vertical-align: middle;
}

#browsebar li{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#playbar li{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.sidebar p{
	margin: 0px;
	font-family: 'Arial', sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #464646;
}
.sidebar span{
	display: inline-block;
	vertical-align: middle;
	line-height: 14px;
}
#playbar ul{
	width: 50px;
	padding-left: 0px;
}
#makeplaylist p{
	margin-top: 4px;
}

#brwseback{
	position: relative;
	height: 28px;
	width: 41px;
	float: left;
	cursor: pointer;
	z-index:5;	
}


/*------------------------------------*/
/*----  Playlist Creation Bubble  ----*/
/*------------------------------------*/
.bubble 
{
	position: absolute;
	width: 250px;
	height: 120px;
	padding: 0px;
	background: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #7F7F7F solid 5px;
	left: 66%;
	top: 39%;
}
.pointer{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 15px 20px;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
	z-index: 1;
	margin-left: -15px;
	top: -20px;
	left: 81%; 
	z-index: 2;
}
.pointerBorder{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 19px 24px;
	border-color: #7F7F7F transparent;
	display: block;width: 0;
	z-index: -1;
	margin-left: -19px;
	top: -29px;
	left: 81%; 
	z-index: 1;
}
#pnameform{
	text-align: center;
}


/*
|  INTRODUCTORY PAGE STYLE
|
*/
#cover{
	position: absolute; 
	top: 0; 
	left: 0;
	height: 100%;
	width: 100%;
	padding: 0px;
	background-color: #000000;
	opacity: 0.9;
}

#intro{
	position: absolute; 
	top: 0; 
	left: 0;
	height: 100%;
	width: 100%;
	padding: 0px;
}

#welcome{
	margin-top: 10%;
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	font-family: Arial;
	font-size: 20px;
	color: #FFFFFF;
}
#fileholder { 
	margin-left: 40%;
	height: 100px;
	width: 200px;
	border: 2px dashed rgba(0,0,0,.5);
    border-radius: 20px;
	background-color: #FFFFFF;
}
#fileholder p{
	position: absolute;
	font-family: Arial;
    text-align: center;
    line-height: 65px;
    font-size: 20px;
    color: rgba(0,0,0,.5);
    margin-left: 2%;
}

input[type="file"]{
	position: relative;
	height:100%;
	width: 100%;
	opacity: 0;
}


/*--------------------------*/
/*----   Progress Bar   ----*/
/*--------------------------*/

#current-song{
	position: absolute;
	z-index: 0;
	height: 45px;
	width: 300px;
}
#progressbar {
	-webkit-transition: width .1s;
	-moz-transition: width .1s;
	-ms-transition: width .1s;
	-o-transition: width .1s;
	background-color: rgba(25,117,163, 0.9);
	bottom: 0;
	height: 100%;
	left: 0;
	line-height: 20px;
	overflow: hidden;
	padding: 5px 0px 5px 0px;
	right: 0;
	text-overflow: ellipsis;
	top: 0;
	white-space: nowrap;
	z-index: -1;
}


/*--------------------------*/
/*-----  Volume Slider  ----*/
/*--------------------------*/

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #e6e6e6;
	font-weight: normal;
	color: #555555;
	z-index: 0;
	border-radius: 10px;
	width: .9em;
	height: .8em;
}
.ui-state-default:focus, .ui-widget-content .ui-state-default:focus, .ui-widget-header .ui-state-default:focus{
	outline: 0px;
}
.ui-slider-horizontal{
	width: 50px;
	height: 0.4em;
}
.ui-widget-content{
	background: #aaa;
}

#slider{
	position: relative;
    margin: 5px 5px 5px 0px;
    display: inline-block;
}

#volbutton{
	width: 100px;
}
#volimg{
	height: 15px;
	width: 17px;
	display: inline-block;
}













